body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.auth-links {
  display: flex;
  gap: 10px;
  margin-left: 90%;
  align-items: right;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #138148;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home {
  background: linear-gradient(to bottom, #0b3766, #0056b3);
  color: white;
}

.about {
  background: #28a745;
  color: white;
}

.services {
  background: #17a2b8;
  color: white;
}

.portfolio {
  background: #6c757d;
  color: white;
}

.contact {
  background: #ffc107;
  color: black;
}

html {
  scroll-behavior: smooth;
}
