body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 999;
}

.navbar {
  display: flex;          
  flex-direction: row;    
  align-items: center;    
  justify-content: space-between; 
  padding: 0px 20px;  
  background-color: rgb(0, 0, 0);   
}

.brand {
  color: white;
  margin-right: 20px;
  font-size: 1.4rem; 
}

.h1{
  position: flex;
  display: flex;
  color: white;
  display: flex;
  right: 150;
  bottom: 100%;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.auth-links {
  display: flex;
  gap: 13px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #20968254;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home {
  background: linear-gradient(to bottom, #5F1C2E, #AE62CA);
  color: white;
}

.about {
  background: linear-gradient(to bottom, #AE62CA, #5F1C2E);  
  color: white;
}

.services {
  background: linear-gradient(to bottom, #5F1C2E, #AE62CA);  
  color: white;
}

.contact {
  background: linear-gradient(to bottom, #AE62CA, #5F1C2E);  
  color: black;
}

html {
  scroll-behavior: smooth;
}

