.checkout-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}
  
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #556cd6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}
  
.success-message {
    color: green;
}
  
.error-message {
    color: red;
}
  