.page-container {
    background: linear-gradient(to bottom, #0f6fa7, #dadee400);
}

.title{
    margin-right: 87%;
}

.profile-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
    margin-right: 65%;
  
    h2 {
      margin-top: 0;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }
}