form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  h1{
    top: 1%;
    color: rgb(34, 14, 14);
  }
  form div {
    margin-bottom: 17px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .login-page, .signup-page {
    padding-top: 50px;
    padding-left: 10px;
  }
  
  .loginFunctions{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-container span {
    position: absolute;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  